
    
        {% if media.media_type == 'image' %}
            <div>
                <img class="w-full h-full object-cover"  src="{{ media | image_url: width:650, height:300 }}" alt="{{ media.preview_image.alt }}" width=600, height=300 >
            </div>
        {% endif %}
        {% if media.media_type == 'video' %}
            <div>
                {{ media | video_tag:class: 'w-full h-80' }}
            </div>
        {% endif %}
        {% if media.media_type ==  'external_video' %}
            <div>
                {{ media |external_video_tag:class: 'w-full h-80' }}
            </div>
        {% endif %}
   


