{% paginate collection.products by 6 %}
  {% for product in collection.products %}
    <a href="{{ product.url }}">{{ product.title }}</a>
  {% else %}
    <p>There are no products inside of this collection</p>
  {% endfor %}

  {% render 'pagination', pagination: paginate %}
{% endpaginate %}