<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<style>
    .swiper-button-prev, .swiper-button-next { color: black; top: auto !important; height: 20px; }
    .swiper-button-prev::after, .swiper-button-next::after { font-size: 20px; }
    .swiper-pagination { color: black; bottom: 0 !important; }
    .swiper-pagination-bullet-active { background: black !important; }
</style>


<div class="max-w-6xl mx-auto my-8">
   <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
        <div class="hidden md:block">
            {% for media in product.media %}
                <div class="h-100 overflow-hidden p-2">
                    {% render 'pp', media:media %}
                </div>
            {% endfor %}
        </div>
        <div class="md:hidden">
            <div class="swiper h-94"> 
                <div class="swiper-wrapper">
                    {% for media in product.media %}
                        <div class="swiper-slide">
                            <div class="h-80 overflow-hidden p-2">
                                {% render 'pp', media:media %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
    <div class="product--information">
        {% form 'product', product %}
            <div class="my-3">
                <span class="text-xs text-gray-500">{{ product.vendor }}</span>
            </div>
            <div class="my-3">
                <h1 class="text-3xl text-gray-900">{{ product.title }}</h1> 
            </div>
            <div class="my-3">
                {% assign product_price= product.selected_or_first_available_variant %}
                <span class="text-base text-gray-500 line-through">{{ product_price.compare_at_price | money }}</span>
                <span class="text-lg text-gray-900">{{ product_price.price | money }}</span>  
                {% if product_price.price < product_price.compare_at_price %}
                    <span class ="px-5 py-1 text-sm bg-red-500 rounded-full text-white mx-4">Sale</span>
                {% endif %}    
            </div>
            <div class="my-3">
                {%  product.has_only_default_variant %}
            </div>
            
        {% endform %}
    </div>
   </div>
</div>

<script>
    const swiper = new Swiper('.swiper',{
        direction:'horizontal',
        pagination:{
            el:'.swiper-pagination'},
        navigation:{
            prevEl:'.swiper-button-prev',
            nextEl:'.swiper-button-next'}
        })
</script>