{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div class="article-preview">
      {% if article.image %}
        <img width= 500, height= 300 src="{{ article.image | image_url: width:1000,height:500 }}" alt="{{ article.title }}">
      {% endif %}
    </div>
    
  {% endfor %}
{% endpaginate %}